* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.header {
    display: block;
    width: 100%;
    height: 100vh;
}

.header img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: all .5s;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav {
    position: fixed;
    width: 100%;
    top: 0;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.7rem;
    transition: color 1.5s ease;
    opacity: 0;
    transform: translateY(-30px);
    transition: transform .6s ease-in-out;
}

.nav_n {
    opacity: 1;
    transform: translateY(0);
}

.nav_desktop {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.nav_desktop .menu_desktop {
    display: flex;
    gap: 20px;
}

.nav_movil {
    display: none;
}


.header_container {
    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_container h2 {
    margin: 10px;
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
}

.header_container p {
    font-size: 1.2rem;
    text-align: center;
}

.header_container .explore {
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;

    font-size: 1.2rem;

    cursor: pointer;
    transition: color, background-color ease .5s;
}

.header_container .explore a {
    text-decoration: none;
    color: inherit;
}

.header_container .explore:hover {
    background-color: aliceblue;
    color: rgb(3, 216, 216);
}

.main {
    width: 100%;
    color: black;
}

.main h2 {
    margin: 0;
}

.main_cont {
    min-height: 70vh;
    text-align: center;
}

.services {
    background-color: tomato;
}


.footer {
    padding: 15px;
    width: 100%;
    height: 150px;
    background-color: rgb(59, 79, 117);
    display: grid;
    place-items: center;
}

.nav.nav_fix {
    background-color: white;
    color: black;
}



@media screen and (max-width: 700px) {

    .nav_desktop {
        display: none;
    }

    /* .header_container {
        height: 80%;
    }     */

    /* .nav {
        height: 250px;
        justify-content: center;
    } */

    .nav_movil {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .menu_icon{
        transform: rotate(90deg);
        font-weight: 700;
        font-size: 1.1em;
        margin-right: 20px;
        cursor: pointer;
    }

    .nav_movil .logo{
        margin-left: 20px;
        text-align: center;
    }

    .menu_movil{
        position: absolute;
        display: block;
        width: 100%;
        top: -300px;
        background-color: white;
        color: #333;
        transition: top 1s;
        z-index: -1;
    }

    .menu_movil a {
        text-align: center;
        display: block;
        padding: 10px;
    }

    .menu_movil_show {
        top: 70px;
    }

}