* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: consolas;
    height: 100vh;
    display: grid;
    gap: 20px;
    place-content: center;
    background-color: #333;
    color: white;
}

.container{
    margin: 5px;
    max-width: 700px;
    min-width: 300px;
    border: 1px solid rgb(182, 182, 182);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgb(179, 179, 179);

}

.container h1{
    margin: 0;
    font-size: 2.5em;
    text-align: center;
}

.container .count{
    font-size: 2em;
}

.container .count__button{
    width: 100%;
    margin: 10px;
    display: flex;
    gap: 20px;
}

.container .count__button button{
    border: none;
    width: 100px;
    height: 30px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 10px;
    transition: transform .4s;
    font-size: 1.1em;
    background-color: tomato;
    color: whitesmoke;
}

.container .count__button button:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 5px 1px rgb(192, 192, 192);
} 


/* .container1{
    
}

.container2{
    border: 1px solid black;
} */